<!DOCTYPE html>
<html>
<head>
  <meta name="charset" content="utf-8" />
  <title>创建全景项目</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, viewport-fit=cover" />
  <meta http-equiv="x-ua-compatible" content="IE=edge" />
  <link rel="stylesheet" type="text/css" href="/css/common.css" />
  <script type="text/javascript" src="/js/common.js"></script>
  <script type="text/javascript" src="/js/krpanotool.js"></script>
</head>
<body>
  <div id="loading">
    <div class="loading-mask"></div>
    <div class="loading-inner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
  </div>
  
  <div class="content">
    <%- body %>
  </div>
</body>
</html>